@{
    int? LoggedInUser = Context.Session.GetInt32("UserId");
    string UserName = Context.Session.GetString("UserName");
}
@model Message
<div class="card shadow">
        <div class="card-header">
            Post a message
        </div>
        <div class="card-body">
            <form asp-action="CreateMessage" asp-controller="Wall" method="post">
                <input type="hidden" asp-for=@Model.UserId value=@LoggedInUser>
                <div class="mb-3">
                    <textarea asp-for="MessageText" class="form-control" cols="30" rows="2"></textarea>
                    <span class="text-danger" asp-validation-for="MessageText"></span>
                </div>
                <div class="text-end"><button class="btn btn-success">Post</button></div>
            </form>
        </div>
    </div>